<div class="container">
  <div class="row">
    <nav id="navbarheight" style="height: 50px;" [class.bg-light]="bgLight"
      class="navbar navbar-expand-lg navbar-light fixed-top">
      <div (click)="scrollToElement('home')">
        <a class="navbar-brand" [routerLink]="['home']" >TuitionBell</a>
      </div>
      

      <button class="navbar-toggler" #menubutton id="menuButton" (click)="toggleClick()" type="button" data-toggle="collapse"
        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" #menu [ngStyle]="{'background-color': bgColor}" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
           <!-- <li class="nav-item" (click)="scrollToElement('home')">
            <a routerLink ="/" routerLinkActive="router-link-active" [ngClass]="{'highlight': currentActive === 1}" class="nav-link">Home <span
                class="sr-only">(current)</span></a>
          </li> -->
          <li class="nav-item" (click)="scrollToElement('about-us')">
            <a 
            [routerLink]="['home']" routerLinkActive="router-link-active"
            [ngClass]="{'highlight': currentActive === 2}" class="nav-link">About Us</a>
          </li>
          <li class="nav-item" (click)="scrollToElement('services')" >
            <a 
            [routerLink]="['home']" routerLinkActive="router-link-active"
            [ngClass]="{'highlight': currentActive === 3}" class="nav-link">
              Services
            </a>
          </li>
           <li class="nav-item" (click)="scrollToElement('how-it-works')" >
            <a 
            [routerLink]="['home']" routerLinkActive="router-link-active"
            [ngClass]="{'highlight': currentActive === 4}" class="nav-link">
              How It Works
            </a>
          </li>
          <li class="nav-item" (click)="scrollToElement('faq')" >
            <a 
            [routerLink]="['home']" routerLinkActive="router-link-active"
            [ngClass]="{'highlight': currentActive === 5}" class="nav-link" >FAQ</a>
          </li>
          <li class="nav-item" (click)="scrollToElement('contact-us')" >
            <a 
            [routerLink]="['home']" routerLinkActive="router-link-active"
            [ngClass]="{'highlight': currentActive === 6}" class="nav-link" >Contact Us</a>
          </li>
          <!-- <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Pricing
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </li> -->
          <!-- <li class="nav-item">
                <a class="nav-link" href="#">Help</a>
              </li> -->
          <li class="nav-item" (click)="scrollToElement('blog-home')">
            <a  [routerLink]="['blogs']" routerLinkActive="router-link-active" 
             class="nav-link" [ngClass]="{'highlight': currentActive === 7}" >Blog</a>
          </li>
        </ul>
        <div class="inputWithIcon">
          <input type="text" placeholder="learn something new!!">
          <i class="fa fa-search fa-lg fa-fw" aria-hidden="true" data-toggle="modal" data-target="#exampleModal"></i>
        </div>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-outline-light" data-toggle="modal" data-target="#exampleModal">
          Login/Register
        </button>
      </div>
    </nav>
  </div>
</div>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Hey Welcome!!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>We are still working on the page.. Will get back soon..</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>