
<section id="contact">
  <br><br>
  <!-- Footer -->
  <footer class="page-footer font-small bg-aqua pt-4">
    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">
      <!-- Grid row -->
      <div class="row">
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
          <!-- Content -->
          <h5 class="text-uppercase">Address</h5>
          <hr>
          <p> 1234 Street Name </p>
          <p> City, AA 99999</p>
        </div>
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
          <!-- Content -->
          <h5 class="text-uppercase">FEATURES</h5>
          <ul class="list-unstyled">
            <li> Local tutors </li>
            <li> Teachers for all kind of boards </li>
            <li> Job portal for tutors </li>
            <li> Pay and go system </li>
            <li> Virtual ID Cards for Tutors</li>
            <li> Virtual classes</li>
            <li> Online Payments</li>
          </ul>
        </div>

        <div class="col-md-3 mb-md-0 mb-3">
          <!-- Links -->
          <h5 class="text-uppercase">Services</h5>
          <ul class="list-unstyled">
            <li>Online teacher guide</li>
            <li>How Job portal works </li>
            <li>Tracking of improvement</li>
            <li>Demo classes</li>
            <li>Seasonal packs </li>
          </ul>
        </div>
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
          <!-- Links -->
          <h5 class="text-uppercase">Contacts</h5>
          <ul class="list-unstyled">
            <li>
              <span>Email:</span>
              <a href="mailto:director@tuitionbell.in?subject=Important!&body=Hi"> director@tuitionbell.in</a>
            </li>
            <li>
              <span>Phone:</span>
              <a href="tel:+1123-456-7890"> (+91) 000 0000 001</a>
            </li>
            <li>
              <a href="https://www.linkedin.com/company/droona-innovations-india-pvt-ltd"  class="socialMediaIcons"><i class="fa fa-linkedin fa-2x"></i></a>
              <a href=""  class="socialMediaIcons"><i class="fa fa-twitter-square fa-2x"></i></a>
              <a href="https://m.facebook.com/droonainnovations/?tsid=0.5029673882692587&source=result" class="socialMediaIcons"> <i class="fa fa-facebook-square fa-2x"></i></a>
              <a href=""  class="socialMediaIcons"><i class="fa fa-instagram fa-2x"></i></a>
            </li>
            <!-- <li>
                <a href="#!">Link 4</a>
              </li> -->
          </ul>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
    <!-- Footer Links -->
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="https://www.tuitionbell.in/">www.tuitionbell.in/</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</section>